.box {
  margin: 35px;
  max-width: 400px;
  background-color: pink;
  padding: 10px;
}

.button_yes {
  padding-right: 50px;
  color: blue;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
